﻿@model HomeWork62.Models.Cafe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a asp-action="Index">Back to List Cafe</a>
<h2>Details</h2>

<div>
    <h4>Cafe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageCafe)
        </dt>
        <dd>
            <div class="form-group">
                <img src="~/@Model.ImageCafe" width="100" height="100" />
            </div>
        </dd>
    </dl>
</div>
<div class="BasketBlock">
    <h2>Basket</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Basket.DishInBaskets)
            {
                <tr>
                    <td>@item.Dish.Name</td>
                    <td>@item.SumDishInBasket</td>
                    <td>@item.CountDish</td>
                </tr>
            }
        </tbody>

    </table>
    <p>Total: @Model.Basket.Total</p>
</div>
<hr />
<div>
    <a asp-action="Create" asp-controller="Dish" asp-route-id="@Model.Id">Create New Dish</a>
</div>
<h2>Dishes</h2>

@{ int count = Model.Dishes.Count();}
@if (count != 0)
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Price
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Dishes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <a asp-action="Create" asp-controller="DishInBasket" asp-route-dishId="@item.Id" asp-route-basketId="@Model.BasketId">Add portion In Basket</a> |
                            <a asp-action="Remove" asp-controller="DishInBasket" asp-route-dishId="@item.Id" asp-route-basketId="@Model.BasketId">Remove portion In Basket</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div>
        Нету блюд
    </div>

}
